.gitattributes  text
.gitignore      text
LICENSE         text
pom.xml         text

*.bat           text eol=crlf
*.feature       text
*.java          text diff=java
*.md            text
*.properties    text

bin/*           text eol=lf
